<% if params[:random] == "true" %>
<% side = [*1..9].shuffle %>
<% horizontal = [*1..9].shuffle %>
<% else %>
<% side = [*1..9] %>
<% horizontal = [*1..9] %>
<% end %>

<%= params %>
<h2>100ます計算</h2>
<% 1.upto(2) do |t| %>
  <table id="multiTable" border="1" cellspacing="0" width="800px" height="800px">
    <tr>
      <th>
        <% if params[:type] == "plus" %>
        ＋
        <% else %>
        ×
        <% end %>
      </th>
      <% side.each do |j| %>
        <th align="center"><%= j %></th>
      <% end %>
    </tr>
    <% horizontal.each_with_index do |h| %>
      <tr>
        <th><%= h %></th>
        <% side.each do |s| %>
          <td align="center">
            <% if t == 2 %>
              <% if params[:type] == "plus" %>
                <%= h+s %>
              <% else %>
                <%= h*s %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
